body {
	padding-top: 120px;
}

.background {
	height: 1003px;
  position: absolute;
  top: -69px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(30deg);
  z-index: -1;
}

.tile {
	width: 152px;
	margin-right: -2px;
	height: 172px;
	display: inline-block;
	vertical-align: top;

	background-size: cover;
}

.tile[prob]:after {
	display: block;
	width: 50px;
	height: 35px;
	margin: 60px 0 0 50px;

	content: attr(prob) "\A" attr(dots);

	line-height: 10px;
	padding-top: 13px;

	background-color: #E9D49D;
	border: 2px solid #AD9D75;
	border-radius: 27px;
	
	font-size: 25px;
	font-weight: bold;

	white-space: pre;
}

div.row {
	display: block;
	text-align: center;
}

div.row:not(:first-child) {
	margin-top: -43px;
}

#board {
	//transform: rotate(-90deg);
}